.product-h-card {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
 transition:
    transform var(--motion-duration-short4) var(--motion-easing-expressive-smooth);

  transform: translateZ(0);
  will-change: transform;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.product-h-info {
  display: flex;
  align-items: center;
  gap: 12px;
}


.product-h-img {
  width: 72px;
  border-radius: var(--corner-radius-50);
}

.product-h-card svg {
  fill: var(--gray-400);
}


/* ✅ Hover 상태 */

.product-h-card:hover {
  cursor: pointer;
}

/* ✅ Pressed (Active) 상태 */
.product-h-card:active {
  transform: translateZ(0) scale(var(--motion-scale-down1));
}