.product-card {
 transition:
    transform var(--motion-duration-short4) var(--motion-easing-expressive-smooth);

  transform: translateZ(0);
  will-change: transform;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.product-card img {
  border-radius: var(--corner-radius-50);
  margin-bottom: 8px;
}
.product-card-brand,
.product-card-name, 
.product-card-price {
  color: var(--text-primary);
}
.product-card-brand {
  font-size: var(--font-size-100);
  font-weight: var(--semibold-600);
  margin-bottom: 2px;
}
.product-card-name {
  font-size: var(--font-size-150);
  font-weight: var(--regular-400);
  line-height: var(--line-height-3);
  margin-bottom: 4px;
}
.product-card-price {
  font-size: var(--font-size-200);
  font-weight: var(--bold-700);
}


/* ✅ Hover 상태 */

.product-card:hover {
  cursor: pointer;
}

/* ✅ Pressed (Active) 상태 */
.product-card:active {
  transform: translateZ(0) scale(var(--motion-scale-down1));
}