@import "theme.css"; /* Import Theme Variables */

:root {
  --text-on-color: var(--gray-00);
  --text-primary: var(--gray-950);
  --text-primary-hover: var(--gray-600);
  --text-primary-pressed: var(--gray-600);
  --text-secondary: var(--gray-600);
  --text-secondary-hover: var(--gray-500);
  --text-secondary-pressed: var(--gray-500);
  --text-tertiary: var(--gray-alpha-700);
  --text-tertiary-hover: var(--gray-alpha-800);
  --text-tertiary-pressed: var(--gray-alpha-800);
  --text-disabled: var(--gray-alpha-500);
  --common-interactive-low: var(--blue-alpha-200);
  --common-interactive: var(--blue-500);
  --common-interactive-hover: var(--blue-400);
  --common-interactive-pressed: var(--blue-400);
  --common-positive-low: var(--green-alpha-200);
  --common-positive: var(--green-500);
  --common-positive-hover: var(--green-400);
  --common-positive-pressed: var(--green-400);
  --common-accent-low: var(--orange-red-alpha-200);
  --common-accent: var(--orange-red-500);
  --common-negative-low: var(--deep-red-alpha-200);
  --common-negative: var(--deep-red-600);
  --common-negative-hover: var(--deep-red-400);
  --common-negative-pressed: var(--deep-red-400);
  --common-on-white: var(--static-white);
  --common-on-white-pressed: var(--static-white-alpha-900);
  --common-on-white-hover: var(--static-white-alpha-900);
  --common-on-black: var(--static-black);
  --common-on-black-hover: var(--static-black-alpha-900);
  --common-on-black-pressed: var(--static-black-alpha-900);
  --background-default: var(--gray-00);
  --background-default-black: var(--static-black);
  --fill-primary: var(--gray-950);
  --fill-primary-hover: var(--gray-800);
  --fill-primary-pressed: var(--gray-800);
  --fill-secondary: var(--gray-700);
  --fill-tertiary: var(--gray-alpha-200);
  --fill-silent: var(--gray-00);
  --fill-silent-hover: var(--gray-alpha-200);
  --fill-silent-pressed: var(--gray-alpha-200);
  --fill-disabled: var(--gray-alpha-200);
  --fill-surface-contents: var(--gray-100);
  --fill-surface-floating: var(--gray-950);
  --fill-surface-dialog: var(--gray-00);
  --fill-surface-sheet: var(--gray-00);
  --fill-surface-black: var(--static-black);
  --border-divider-strong: var(--gray-950);
  --border-divider: var(--gray-alpha-200);
  --border-line: var(--gray-alpha-300);
  --border-line-hover: var(--gray-alpha-400);
  --border-line-pressed: var(--gray-alpha-400);
  --border-line-selected: var(--gray-950);
  --border-line-disabled: var(--gray-alpha-200);
  --overlay-dimmed: var(--static-black-alpha-500);
  --title-xxl-fontFamily: var(--29cm-default-font);
  --title-xxl-fontWeight: var(--regular-400);
  --title-xxl-lineHeight: var(--line-height-3);
  --title-xxl-fontSize: var(--font-size-550);
  --title-xxl-letterSpacing: var(--narrow-base.web);
  --title-xxl-paragraphSpacing: ;
  --title-xxl-paragraphIndent: ;
  --title-xxl-textCase: ;
  --title-xxl-textDecoration: ;
  --title-xxl-medium-fontFamily: var(--29cm-default-font);
  --title-xxl-medium-fontWeight: var(--medium-500);
  --title-xxl-medium-lineHeight: var(--line-height-3);
  --title-xxl-medium-fontSize: var(--font-size-550);
  --title-xxl-medium-letterSpacing: var(--narrow-base.web);
  --title-xxl-medium-paragraphSpacing: ;
  --title-xxl-medium-paragraphIndent: ;
  --title-xxl-medium-textCase: ;
  --title-xxl-medium-textDecoration: ;
  --title-xxl-bold-fontFamily: var(--29cm-default-font);
  --title-xxl-bold-fontWeight: var(--bold-700);
  --title-xxl-bold-lineHeight: var(--line-height-3);
  --title-xxl-bold-fontSize: var(--font-size-550);
  --title-xxl-bold-letterSpacing: var(--narrow-base.web);
  --title-xxl-bold-paragraphSpacing: ;
  --title-xxl-bold-paragraphIndent: ;
  --title-xxl-bold-textCase: ;
  --title-xxl-bold-textDecoration: ;
  --title-xl-medium-fontFamily: var(--29cm-default-font);
  --title-xl-medium-fontWeight: var(--medium-500);
  --title-xl-medium-lineHeight: var(--line-height-3);
  --title-xl-medium-fontSize: var(--font-size-500);
  --title-xl-medium-letterSpacing: var(--narrow-base.web);
  --title-xl-medium-paragraphSpacing: ;
  --title-xl-medium-paragraphIndent: ;
  --title-xl-medium-textCase: ;
  --title-xl-medium-textDecoration: ;
  --title-xl-bold-fontFamily: var(--29cm-default-font);
  --title-xl-bold-fontWeight: var(--bold-700);
  --title-xl-bold-lineHeight: var(--line-height-3);
  --title-xl-bold-fontSize: var(--font-size-500);
  --title-xl-bold-letterSpacing: var(--narrow-base.web);
  --title-xl-bold-paragraphSpacing: ;
  --title-xl-bold-paragraphIndent: ;
  --title-xl-bold-textCase: ;
  --title-xl-bold-textDecoration: ;
  --title-l-medium-fontFamily: var(--29cm-default-font);
  --title-l-medium-fontWeight: var(--medium-500);
  --title-l-medium-lineHeight: var(--line-height-3);
  --title-l-medium-fontSize: var(--font-size-400);
  --title-l-medium-letterSpacing: var(--narrow-base.web);
  --title-l-medium-paragraphSpacing: ;
  --title-l-medium-paragraphIndent: ;
  --title-l-medium-textCase: ;
  --title-l-medium-textDecoration: ;
  --title-l-bold-fontFamily: var(--29cm-default-font);
  --title-l-bold-fontWeight: var(--bold-700);
  --title-l-bold-lineHeight: var(--line-height-3);
  --title-l-bold-fontSize: var(--font-size-400);
  --title-l-bold-letterSpacing: var(--narrow-base.web);
  --title-l-bold-paragraphSpacing: ;
  --title-l-bold-paragraphIndent: ;
  --title-l-bold-textCase: ;
  --title-l-bold-textDecoration: ;
  --title-m-medium-fontFamily: var(--29cm-default-font);
  --title-m-medium-fontWeight: var(--medium-500);
  --title-m-medium-lineHeight: var(--line-height-3);
  --title-m-medium-fontSize: var(--font-size-350);
  --title-m-medium-letterSpacing: var(--narrow-base.web);
  --title-m-medium-paragraphSpacing: ;
  --title-m-medium-paragraphIndent: ;
  --title-m-medium-textCase: ;
  --title-m-medium-textDecoration: ;
  --title-m-bold-fontFamily: var(--29cm-default-font);
  --title-m-bold-fontWeight: var(--bold-700);
  --title-m-bold-lineHeight: var(--line-height-3);
  --title-m-bold-fontSize: var(--font-size-350);
  --title-m-bold-letterSpacing: var(--narrow-base.web);
  --title-m-bold-paragraphSpacing: ;
  --title-m-bold-paragraphIndent: ;
  --title-m-bold-textCase: ;
  --title-m-bold-textDecoration: ;
  --title-s-medium-fontFamily: var(--29cm-default-font);
  --title-s-medium-fontWeight: var(--medium-500);
  --title-s-medium-lineHeight: var(--line-height-3);
  --title-s-medium-fontSize: var(--font-size-300);
  --title-s-medium-letterSpacing: var(--narrow-base.web);
  --title-s-medium-paragraphSpacing: ;
  --title-s-medium-paragraphIndent: ;
  --title-s-medium-textCase: ;
  --title-s-medium-textDecoration: ;
  --title-s-bold-fontFamily: var(--29cm-default-font);
  --title-s-bold-fontWeight: var(--bold-700);
  --title-s-bold-lineHeight: var(--line-height-3);
  --title-s-bold-fontSize: var(--font-size-300);
  --title-s-bold-letterSpacing: var(--narrow-base.web);
  --title-s-bold-paragraphSpacing: ;
  --title-s-bold-paragraphIndent: ;
  --title-s-bold-textCase: ;
  --title-s-bold-textDecoration: ;
  --title-xs-medium-fontFamily: var(--29cm-default-font);
  --title-xs-medium-fontWeight: var(--medium-500);
  --title-xs-medium-lineHeight: var(--line-height-3);
  --title-xs-medium-fontSize: var(--font-size-250);
  --title-xs-medium-letterSpacing: var(--narrow-base.web);
  --title-xs-medium-paragraphSpacing: ;
  --title-xs-medium-paragraphIndent: ;
  --title-xs-medium-textCase: ;
  --title-xs-medium-textDecoration: ;
  --title-xs-bold-fontFamily: var(--29cm-default-font);
  --title-xs-bold-fontWeight: var(--bold-700);
  --title-xs-bold-lineHeight: var(--line-height-3);
  --title-xs-bold-fontSize: var(--font-size-250);
  --title-xs-bold-letterSpacing: var(--narrow-base.web);
  --title-xs-bold-paragraphSpacing: ;
  --title-xs-bold-paragraphIndent: ;
  --title-xs-bold-textCase: ;
  --title-xs-bold-textDecoration: ;
  --text-xxl-medium-fontFamily: var(--29cm-default-font);
  --text-xxl-medium-fontWeight: var(--medium-500);
  --text-xxl-medium-lineHeight: var(--line-height-4);
  --text-xxl-medium-fontSize: var(--font-size-200);
  --text-xxl-medium-letterSpacing: var(--narrow-base.web);
  --text-xxl-medium-paragraphSpacing: ;
  --text-xxl-medium-paragraphIndent: ;
  --text-xxl-medium-textCase: ;
  --text-xxl-medium-textDecoration: ;
  --text-xxl-bold-fontFamily: var(--29cm-default-font);
  --text-xxl-bold-fontWeight: var(--bold-700);
  --text-xxl-bold-lineHeight: var(--line-height-4);
  --text-xxl-bold-fontSize: var(--font-size-200);
  --text-xxl-bold-letterSpacing: var(--narrow-base.web);
  --text-xxl-bold-paragraphSpacing: ;
  --text-xxl-bold-paragraphIndent: ;
  --text-xxl-bold-textCase: ;
  --text-xxl-bold-textDecoration: ;
  --text-xxl-fontFamily: var(--29cm-default-font);
  --text-xxl-fontWeight: var(--regular-400);
  --text-xxl-lineHeight: var(--line-height-4);
  --text-xxl-fontSize: var(--font-size-200);
  --text-xxl-letterSpacing: var(--narrow-base.web);
  --text-xxl-paragraphSpacing: ;
  --text-xxl-paragraphIndent: ;
  --text-xxl-textCase: ;
  --text-xxl-textDecoration: ;
  --text-xl-fontFamily: var(--29cm-default-font);
  --text-xl-fontWeight: var(--regular-400);
  --text-xl-lineHeight: var(--line-height-5);
  --text-xl-fontSize: var(--font-size-150);
  --text-xl-letterSpacing: var(--narrow-base.web);
  --text-xl-paragraphSpacing: ;
  --text-xl-paragraphIndent: ;
  --text-xl-textCase: ;
  --text-xl-textDecoration: ;
  --text-xl-medium-fontFamily: var(--29cm-default-font);
  --text-xl-medium-fontWeight: var(--medium-500);
  --text-xl-medium-lineHeight: var(--line-height-5);
  --text-xl-medium-fontSize: var(--font-size-150);
  --text-xl-medium-letterSpacing: var(--narrow-base.web);
  --text-xl-medium-paragraphSpacing: ;
  --text-xl-medium-paragraphIndent: ;
  --text-xl-medium-textCase: ;
  --text-xl-medium-textDecoration: ;
  --text-xl-bold-fontFamily: var(--29cm-default-font);
  --text-xl-bold-fontWeight: var(--bold-700);
  --text-xl-bold-lineHeight: var(--line-height-5);
  --text-xl-bold-fontSize: var(--font-size-150);
  --text-xl-bold-letterSpacing: var(--narrow-base.web);
  --text-xl-bold-paragraphSpacing: ;
  --text-xl-bold-paragraphIndent: ;
  --text-xl-bold-textCase: ;
  --text-xl-bold-textDecoration: ;
  --text-l-fontFamily: var(--29cm-default-font);
  --text-l-fontWeight: var(--regular-400);
  --text-l-lineHeight: var(--line-height-4);
  --text-l-fontSize: var(--font-size-125);
  --text-l-letterSpacing: var(--narrow-base.web);
  --text-l-paragraphSpacing: ;
  --text-l-paragraphIndent: ;
  --text-l-textCase: ;
  --text-l-textDecoration: ;
  --text-l-medium-fontFamily: var(--29cm-default-font);
  --text-l-medium-fontWeight: var(--medium-500);
  --text-l-medium-lineHeight: var(--line-height-4);
  --text-l-medium-fontSize: var(--font-size-125);
  --text-l-medium-letterSpacing: var(--narrow-base.web);
  --text-l-medium-paragraphSpacing: ;
  --text-l-medium-paragraphIndent: ;
  --text-l-medium-textCase: ;
  --text-l-medium-textDecoration: ;
  --text-l-bold-fontFamily: var(--29cm-default-font);
  --text-l-bold-fontWeight: var(--bold-700);
  --text-l-bold-lineHeight: var(--line-height-4);
  --text-l-bold-fontSize: var(--font-size-125);
  --text-l-bold-letterSpacing: var(--narrow-base.web);
  --text-l-bold-paragraphSpacing: ;
  --text-l-bold-paragraphIndent: ;
  --text-l-bold-textCase: ;
  --text-l-bold-textDecoration: ;
  --text-m-fontFamily: var(--29cm-default-font);
  --text-m-fontWeight: var(--regular-400);
  --text-m-lineHeight: var(--line-height-4);
  --text-m-fontSize: var(--font-size-100);
  --text-m-letterSpacing: var(--narrow-base.web);
  --text-m-paragraphSpacing: ;
  --text-m-paragraphIndent: ;
  --text-m-textCase: ;
  --text-m-textDecoration: ;
  --text-m-medium-fontFamily: var(--29cm-default-font);
  --text-m-medium-fontWeight: var(--medium-500);
  --text-m-medium-lineHeight: var(--line-height-4);
  --text-m-medium-fontSize: var(--font-size-100);
  --text-m-medium-letterSpacing: var(--narrow-base.web);
  --text-m-medium-paragraphSpacing: ;
  --text-m-medium-paragraphIndent: ;
  --text-m-medium-textCase: ;
  --text-m-medium-textDecoration: ;
  --text-m-bold-fontFamily: var(--29cm-default-font);
  --text-m-bold-fontWeight: var(--bold-700);
  --text-m-bold-lineHeight: var(--line-height-4);
  --text-m-bold-fontSize: var(--font-size-100);
  --text-m-bold-letterSpacing: var(--narrow-base.web);
  --text-m-bold-paragraphSpacing: ;
  --text-m-bold-paragraphIndent: ;
  --text-m-bold-textCase: ;
  --text-m-bold-textDecoration: ;
  --text-s-fontFamily: var(--29cm-default-font);
  --text-s-fontWeight: var(--regular-400);
  --text-s-lineHeight: var(--line-height-3);
  --text-s-fontSize: var(--font-size-75);
  --text-s-letterSpacing: var(--narrow-base.web);
  --text-s-paragraphSpacing: ;
  --text-s-paragraphIndent: ;
  --text-s-textCase: ;
  --text-s-textDecoration: ;
  --text-s-medium-fontFamily: var(--29cm-default-font);
  --text-s-medium-fontWeight: var(--medium-500);
  --text-s-medium-lineHeight: var(--line-height-3);
  --text-s-medium-fontSize: var(--font-size-75);
  --text-s-medium-letterSpacing: var(--narrow-base.web);
  --text-s-medium-paragraphSpacing: ;
  --text-s-medium-paragraphIndent: ;
  --text-s-medium-textCase: ;
  --text-s-medium-textDecoration: ;
  --text-s-bold-fontFamily: var(--29cm-default-font);
  --text-s-bold-fontWeight: var(--bold-700);
  --text-s-bold-lineHeight: var(--line-height-3);
  --text-s-bold-fontSize: var(--font-size-75);
  --text-s-bold-paragraphSpacing: ;
  --text-s-bold-paragraphIndent: ;
  --text-s-bold-textCase: ;
  --text-s-bold-textDecoration: ;
  --text-xs-medium-fontFamily: var(--29cm-default-font);
  --text-xs-medium-fontWeight: var(--medium-500);
  --text-xs-medium-lineHeight: var(--line-height-3);
  --text-xs-medium-fontSize: var(--font-size-50);
  --text-xs-medium-letterSpacing: var(--narrow-base.web);
  --text-xs-medium-paragraphSpacing: ;
  --text-xs-medium-paragraphIndent: ;
  --text-xs-medium-textCase: ;
  --text-xs-medium-textDecoration: ;
  --text-xs-fontFamily: var(--29cm-default-font);
  --text-xs-fontWeight: var(--regular-400);
  --text-xs-lineHeight: var(--line-height-3);
  --text-xs-fontSize: var(--font-size-50);
  --text-xs-letterSpacing: var(--narrow-base.web);
  --text-xs-paragraphSpacing: ;
  --text-xs-paragraphIndent: ;
  --text-xs-textCase: ;
  --text-xs-textDecoration: ;
  --text-xs-bold-fontFamily: var(--29cm-default-font);
  --text-xs-bold-fontWeight: var(--bold-700);
  --text-xs-bold-lineHeight: var(--line-height-3);
  --text-xs-bold-fontSize: var(--font-size-50);
  --text-xs-bold-letterSpacing: var(--narrow-base.web);
  --text-xs-bold-paragraphSpacing: ;
  --text-xs-bold-paragraphIndent: ;
  --text-xs-bold-textCase: ;
  --text-xs-bold-textDecoration: ;
  --text-xxs-fontFamily: var(--29cm-default-font);
  --text-xxs-fontWeight: var(--regular-400);
  --text-xxs-lineHeight: var(--line-height-2);
  --text-xxs-fontSize: var(--font-size-25);
  --text-xxs-letterSpacing: var(--narrow-base.web);
  --text-xxs-paragraphSpacing: ;
  --text-xxs-paragraphIndent: ;
  --text-xxs-textCase: ;
  --text-xxs-textDecoration: ;
  --text-xxs-medium-fontFamily: var(--29cm-default-font);
  --text-xxs-medium-fontWeight: var(--medium-500);
  --text-xxs-medium-lineHeight: var(--line-height-2);
  --text-xxs-medium-fontSize: var(--font-size-25);
  --text-xxs-medium-letterSpacing: var(--narrow-base.web);
  --text-xxs-medium-paragraphSpacing: ;
  --text-xxs-medium-paragraphIndent: ;
  --text-xxs-medium-textCase: ;
  --text-xxs-medium-textDecoration: ;
  --text-xxs-bold-fontFamily: var(--29cm-default-font);
  --text-xxs-bold-fontWeight: var(--bold-700);
  --text-xxs-bold-lineHeight: var(--line-height-2);
  --text-xxs-bold-fontSize: var(--font-size-25);
  --text-xxs-bold-letterSpacing: var(--narrow-base.web);
  --text-xxs-bold-paragraphSpacing: ;
  --text-xxs-bold-paragraphIndent: ;
  --text-xxs-bold-textCase: ;
  --text-xxs-bold-textDecoration: ;
}

