@import "semantic.css"; /* Import Semantic Variables */
@import "theme.css"; /* Import Theme Variables */
@import "./components/button.css"; 
@import "./components/procutCard.css";
@import "./components/procutHstackCard.css"; 


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--29cm-default-font);
  background-color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease; /* 부드러운 애니메이션 효과 */
}

body {
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit; /* 상속받아서 폰트 통일 */
  background: none;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer; /* 기본 버튼 느낌 */
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------ */
/* 디자인 시작점 */
/* ------------------------ */

.section {
  width: 390px;
  min-width: 375px;
  margin: 0 auto;
  overflow-y: auto;
  background-color: var(--background-default);
}

/* ------------------------ */
/* 탑네비 */
/* ------------------------ */
.top-navi-container {
  position: absolute;
  width: 100%;
  max-width: 390px;
  min-width: 375px;
  z-index: 10;
}

.top-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
}

.top-navi,
svg {
  fill: var(--common-on-white);
}

.r-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ------------------------ */
/* 히어로 배너 섹션 */
/* ------------------------ */
.top-hero-section {
  position: relative;
  height: 560px;
}

.hero-banner {
  position: relative;
  height: 560px;
  overflow: hidden;
}

/* 태그 그룹 */
.tag-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 20px; /* 상단-하단 여백 줄이기 */
  gap: 10px; /* 태그 간 간격 */
}

.tag {
  color: var(--common-on-white);
  font-size: var(--font-size-125);
  font-weight: var(--medium-500);
  border: 1px solid var(--static-white-alpha);
  background: var(--gray-alpha-300);
  padding: 6px 12px; /* 태그 크기 줄이기 */
  border-radius: var(--corner-radius-full);
  cursor: pointer;
}

/* 흐릿한 배경 */
.blurred-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-gradation, rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(75px);
  z-index: 1;
}

.blurred-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1727149924916-a63101f4a7cc?q=80&w=2727&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  z-index: 0;
}

/* 캐러셀 */
.carousel {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: end; /* 세로 중앙 정렬 */
  gap: 8px;
  height: 100%; /* 부모 높이에 맞춤 */
}

.carousel-img {
  width: 90%;
  max-width: 400px; /* 최대 이미지 폭 설정 */
  aspect-ratio: 5 / 6;
  object-fit: cover; /* 비율 유지 */
  border-radius: var(--corner-radius-75, 12px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 이미지에 그림자 추가 */
}

/* ------------------------ */
/* 다이나믹 게이트 */
/* ------------------------ */

.dynamic-gate {
  display: flex;
  align-items: center;
  background-color: var(--fill-silent);
  box-shadow: 0px 2px 14px 0px var(--gray-alpha-300);
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: var(--corner-radius-50);
  cursor: pointer;
}

.dynamic-gate-flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dynamic-gate-img {
  width: 52px;
  border-radius: var(--corner-radius-25);
}

.dynamic-gate-info {
  color: var(--text-primary);
}

.dynamic-title {
  font-size: var(--font-size-150);
  font-weight: var(--bold-700);
  line-height: var(--line-height-6);
}

.dynamic-p {
  font-size: var(--font-size-125);
  font-weight: var(--bold-500);
}

/* ------------------------ */
/* 브랜드 카드 */
/* ------------------------ */

.brand-card-section {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
  margin-top: 24px;
}


.brand-card-img {
  border-radius: var(--corner-radius-75);
  margin-bottom: 16px;
  transition: all var(--motion-duration-short4) var(--motion-easing-expressive-smooth);
}


.brand,
.product-name,
.price {
  color: var(--text-primary);
}
.brand {
  font-size: var(--font-size-125);
  font-weight: var(--semibold-600);
  line-height: var(--line-height-4);
}
.product-name {
  font-size: var(--font-size-200);
  font-weight: var(--regular-400);
  line-height: var(--line-height-4);
}

.price {
  font-size: var(--font-size-125);
  font-weight: var(--semibold-600);
  line-height: var(--line-height-4);
}

.brand-card-img:hover {
  cursor: pointer;
}

.brand-card-img:active {
  scale: var(--motion-scale-down1);  
}



/* ------------------------ */
/* 당신을 위한 추천 */
/* ------------------------ */

.for-you {
  margin-left: 20px;
  margin-right: 20px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

.section-title h4 {
  color: var(--text-primary);
  font-size: var(--font-size-300);
  font-weight: var(--bold-700);
}

.text-button {
  font-size: var(--font-size-150);
  color: var(--text-tertiary);
}

.for-you-carousel {
  margin-bottom: 48px;
}
.row {
  display: flex;
  gap: 6px;
  margin-bottom: 22px;
}


/* ------------------------ */
/* 당신 취향의 브랜드 */
/* ------------------------ */
.brand-for-you {
  margin: 0; /* 부모 컨테이너의 좌우 마진 제거 */
  overflow: hidden; /* 스크롤바 숨기기 */
}

.brand-section-title {
  margin-left: 20px;
  margin-right: 20px;
}

.brand-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

.brand-section-title h4 {
  color: var(--text-primary);
  font-size: var(--font-size-300);
  font-weight: var(--bold-700);
}

.brand-list {
  display: flex;
  gap: 24px;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  padding: 0 20px; /* 리스트의 좌우 패딩 추가 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  margin-bottom: 60px;
}

.brand-list::-webkit-scrollbar {
  display: none; /* 크롬 및 사파리에서 스크롤바 숨기기 */
}

.brand-item {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 수직 방향 배치 */
  align-items: center; /* 가로 가운데 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  text-align: center;
  flex-shrink: 0; /* 아이템이 축소되지 않도록 설정 */
}

.brand-item p {
  font-size: var(--font-size-125);
  color: var(--text-secondary);
  font-weight: var(--regular-400);
}

.brand-item-img {
  width: 64px;
  height: 64px; /* 높이를 추가해 비율 유지 */
  border-radius: var(--corner-radius-full);
  margin-bottom: 8px;
  object-fit: cover; /* 이미지를 컨테이너에 맞춤 */
  border: 0.5px solid var(--gray-alpha-400);
}

/* ------------------------ */
/* FAB */
/* ------------------------ */

.theme-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--gray-100);
  color: var(--text-color);
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-list {
  margin-left: 20px;
  margin-right: 20px;
}