@import "semantic.css"; /* Import Semantic Variables */
@import "theme.css"; /* Import Theme Variables */


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--29cm-default-font);
}

body {
  margin: 0 auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------ */
/* 디자인 시작점 */
/* ------------------------ */


.section {
  max-width: 500px;
  margin: 0 auto;
  overflow-y: auto; 
}


/* ------------------------ */
/* 탑네비 */
/* ------------------------ */
.top-navi-container {
  position: absolute;
  width: 100%;
  max-width: 500px;
  z-index: 10;
}

.top-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
}

.top-navi, svg {
  fill: var(--common-on-white);
}

.r-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tag-group {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  margin-bottom: 16px;
  gap: 10px;
}

.tag {
  color: var(--common-on-white);
  font-size: var(--font-size-125, 14px);
  font-weight: var(--medium-500, 500);
  border: 1px solid var(--gray-200);
  background:var(--gray-alpha-300);
  padding: 8px 16px;
  border-radius: var(--corner-radius-full);
  cursor: pointer;
}


/* ------------------------ */
/* 히어로배너섹션 */
/* ------------------------ */
.top-hero-section {
  height: 700px;
}

.hero-banner {
  position: relative;
  background-color: blue;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.blurred-bg-img  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 700px;
  height: 100%;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1727149924916-a63101f4a7cc?q=80&w=2727&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  z-index: 0;
}

.blurred-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background: var(--background-gradation);
  backdrop-filter: blur(75px);
  z-index: 1;
}

.carousel {
  position: relative;
  z-index: 1;
  top: 130px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 8px; /* 이미지 간 간격 */
}

.carousel-img {
  width: 90%;
  height: auto;
  aspect-ratio: 5 / 6;
  object-fit: cover; /* 비율 유지 */
  margin: 0 auto; /* 이미지 중앙 정렬 */
  border-radius: var(--corner-radius-75);
}